table,th,tr,td{
     border:2px solid grey;
     padding: 10px;
     border-collapse: collapse;
	 margin: 0px;
	 font-family:18px cursive;

}
tr:hover{
	background-color: orange;
}
table{
	width: 50%;

}
body{
	color: black;
	font-size: 15px;
    font-family:18px none;
}	
img{
	float: right;
	border-color: grey;
	height: 8%;
	width: 10%;
}
h3{
	color: black;
	font-size: 15px;
    font-family:18px none;
     
}
      

